<div class="container d-flex flex-column p-3 justify-content-space-between">
<div class="border-bottom border-1 p-3 border-dark">
  <h1>My List</h1>
</div>

<ul>
<% @lists.each do |list| %>

  <div class="card-category my-3">
    <li><%= link_to list.name, list_path(list) %></li>
 </div>

  <div class="p-1">
    <%= link_to 'Delete list', list_path(list),data: { turbo_method: :delete, turbo_confirm: "Are you sure"}  %>
  </div>

<% end %>
</ul>

<br>
  <div class="border-top border-1 p-3 border-dark">
    <%= link_to 'Create a new list', new_list_path %>
  </div>

</div>
