<div class="container">

<h1>My List</h1>
<img src="/app/assets/images/cinema.jpg" alt="cinema seats">

<ul>

    <% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <li><%= link_to list.name, list_path(list) %></li>
  </div>

  <%= link_to 'Delete list', list_path(list),data: { turbo_method: :delete, turbo_confirm: "Are you sure"}  %>
    <% end %>

</ul>

  <div class="btn btn-dark">
    <%= link_to 'Crate a new list', new_list_path %>
  </div>
</div>
